/* General CSS */

* {
  box-sizing: border-box;
}

html,
body,
.App,
.mapfilter,
#root,
#map {
	height: 100%;
	width: 100%;
  font-family: 'Verdana', sans-serif;
}

/* Styling for the Map Filter area*/

.mapfilter {
  width: 250px;
  max-height: 100%;
  position: absolute;
  left: -185px;
  background: white;
}

.mapfilter header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: -10px;
}

.mapfilter header .reload {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 40px;
  background: #99ccff;
  cursor: pointer;
}

.mapfilter header form .input-field {
  width: 180px;
  border: 1px solid #99ccff;
  line-height: 28px;
  font-size: 16px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.mapfilter .location-list .location {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}


.mapfilter .location-list .location .location-name {
  min-width: 180px;
  line-height: 40px;
  font-size: 16px;
  padding: 5px;
  margin-left: -30px;
}

.mapfilter .location-list .location:hover .location-name {
  background: #99ccff;
  cursor: pointer;
}

/* Styling for InfoWindow of Markers */

.infoWindow {
  width: 250px;
  height: 200px;
  overflow: scroll;
}

.infoWindow header {
  margin-bottom: 10px;
  color: #99ccff;
}

.infoWindow header p {
  margin: 0 0 10px;
  color: #000;
}
